/**
 * @name discord glow
 * @description glowtest
 * @author nvrngh
 * @version 0.0.1
 * @website https://mwittrien.github.io/
 * @source https://github.com/BODZy/discord-glow/
 * @updateUrl https://raw.githubusercontent.com/BODZy/discord-glow/main/glow.theme.css
 */

/* Glowing effect on text in chat */
{
.message-2qnXI6 {
  text-shadow: 0px 0px 10px #00ff00; /* Replace #00ff00 with the desired glow color */
}
}
/* Glowing effect on user voice activity */
{
.membersGroup-v9BXpm .member-3-YXUe[data-activity="1"] .avatar-1BDn8e::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff0000; /* Replace #ff0000 with the desired glow color */
  box-shadow: 0px 0px 10px #ff0000; /* Replace #ff0000 with the same color as above */
  bottom: 0;
  right: 0;
  margin-bottom: 2px;
  margin-right: 2px;
}
}
